.footer {
  background-color: var(--color-bg-secondary);

  &__inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    padding-block: 24px;
  }
  
  &__logo {
    justify-self: center;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    font-size: var(--size-p-primary);
    font-weight: 500;
    line-height: 1.4;
    gap: 24px 0;

    &-column {
      display: flex;
      flex-direction: column;
      white-space: nowrap;
      text-decoration: none;
    }
  }

  &__caption {
    font-weight: 700;
  }

  &__copy {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    text-align: center;
    font-size: var(--size-p-primary);
    font-weight: 500;
    line-height: 1.4;
  }

  @include media-md {

    &__contacts {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      inline-size: 100%;
    }
  }
    
  @include media-xl {
    &__inner {
      grid-template-columns: repeat(2, max-content);
      justify-content: space-between;
      padding-block: 120px 40px;
      max-inline-size: 1140px;
    }

    &__logo {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    &__contacts {
      grid-column: 2 / -1;
      grid-row: 1 / 2;
      flex-direction: row;
      gap: 0 16.5px;
      justify-content: space-between;
      margin-block-end: 80px;
    }

    &__copy {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
    }
  }
}
