<!DOCTYPE html>
<html lang="es">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta name="description" content="{{ pageDescription }}" />
    <meta name="keywords" content="" />
    <meta name="referrer" content="no-referrer" />
    <link rel="icon" href="./favicon.svg" type="image/svg+xml">
    <title>{{ pageTitle }}</title>
    <script type="module" defer src="./js/main.js"></script>
  </head>
  <body class="body">