<section class="about" aria-labelledby="about__title">
  <div class="about__inner container wrapper">
    <h2 class="section-title about__title" id="about__title">Información</h2>

    <p class="about__text">Chicken Road Spain te sumerge en un mundo virtual vibrante y lleno de peligros, donde un grupo de valientes gallinas debe atravesar carreteras infestadas de obstáculos para llegar sanas y salvas a su refugio. La historia transcurre en ciudades coloridas y escenarios exóticos, con niveles que introducen desafíos emocionantes a cada paso. El objetivo es simple pero desafiante: salvar a todas las gallinas superando obstáculos impredecibles y situaciones límite.</p>

    <p class="about__text">La protagonista es una audaz gallina llamada Lola, que lidera al grupo con astucia y determinación. Otros personajes jugables incluyen a Rita, una gallina veloz y escurridiza, y Max, el misterioso gallo oscuro con poderes especiales. Cada uno aporta habilidades únicas que son clave para cumplir la misión.</p>

    <p class="about__text">Este juego combina estrategia, acción y aventura, exigiendo al jugador tomar decisiones rápidas y aplicar ingenio para sortear tráfico intenso, climas adversos y eventos sorpresivos. La experiencia se ve enriquecida por una narrativa envolvente y gráficos detallados que atraen a jugadores de todas las edades.</p>

    <p class="about__text">La comunidad de Chicken Road Spain crece día a día, con jugadores de todo el mundo que colaboran o compiten en eventos especiales y torneos. ¡Únete a la aventura y experimenta la emoción de cruzar la carretera de la forma más épica!</p>

    <picture>
      <source 
        media="(width <= 768px)" 
        srcset="./img/about-m.webp,
                ./img/about-m-x2.webp 2x"/>
      <img
        class="about__img"
        src="./img/about.webp"
        srcset="./img/about.webp ,
                ./img/about-x2.webp 2x,"
        alt=""
        aria-labelledby="about__title"
        width="1140" 
        height="677"
        loading="lazy"
      />
    </picture>
  </div>
</section>