<section class="awards container wrapper" aria-labelledby="awards__title">
  <h2 id="awards__title" class="section-title awards__title">Premio</h2>
  <ul class="awards__list">
    <li class="awards__item award">
      <img 
        class="award__img"
        src="./img/icon-award.svg" 
        alt="" 
        width="64" 
        height="64"
      >
      <div class="award__text">
        <p class="award__name">Premio a la Innovación 2025</p>
        <p class="award__description">Reconocimiento por su jugabilidad única y envolvente.</p>
      </div>
    </li>
    <li class="awards__item award">
      <img 
        class="award__img"
        src="./img/icon-award.svg" 
        alt="" 
        width="64" 
        height="64"
      >
      <div class="award__text">
        <p class="award__name">Juego del Año</p>
        <p class="award__description">Galardonado por sus gráficos espectaculares y adaptación multiplataforma.</p>
      </div>
    </li>
    <li class="awards__item award">
      <img 
        class="award__img"
        src="./img/icon-award.svg" 
        alt="" 
        width="64" 
        height="64"
      >
      <div class="award__text">
        <p class="award__name">Mejor Diseño</p>
        <p class="award__description">Diseño visual que ha conquistado a millones de jugadores en todo el mundo.</p>
      </div>
    </li>
  </ul>

</section>