<section id="characteristics" class="characteristics" aria-labelledby="characteristics__title">
  <div class="characteristics__inner container wrapper">
    <h2 id="characteristics__title" class="section-title characteristics__title">Características</h2>
    <picture>
      <source 
        media="(width <= 768px)" 
        srcset="./img/characteristics-m.webp,
                ./img/characteristics-m-x2.webp 2x"
      />
      <img
        class="characteristics__img"
        src="./img/characteristics.webp"
        srcset="./img/characteristics.webp ,
                ./img/characteristics-x2.webp 2x,"
        alt=""
        aria-labelledby="characteristics__title"
        width="454"
        height="360"
        loading="lazy"
      />
    </picture>
    <ul class="characteristics__list">
      <li class="characteristics__item">
        Niveles avanzados con dificultad progresiva.
      </li>
      <li class="characteristics__item">
        Personajes jugables con habilidades distintas.
      </li>
      <li class="characteristics__item">
        Gráficos impactantes y entornos realistas.
      </li>
      <li class="characteristics__item">
        Modo multijugador para competir o colaborar.
      </li>
      <li class="characteristics__item">
        Actualizaciones frecuentes con nuevos contenidos.
      </li>
    </ul>
  </div>
</section>
