<section id="gallery" class="gallery" aria-labelledby="gallery__title">
  <div class="container wrapper">
    <h2 class="section-title" id="gallery__title">Galería</h2>
    <ul class="gallery__list">
      <li class="gallery__item gallery__item--main">
        <picture>
          <source 
            media="(width <= 768px)" 
            srcset="./img/gallery-01-m.webp,
                    ./img/gallery-01-m-x2.webp x2" 
          />
          <img
            class="gallery__img"
            src="./img/gallery-01.webp"
            srcset="./img/gallery-01.webp,
                    ./img/gallery-01-x2.webp 2x,"
            alt="First happy chicken in the game"
            width="1140"
            height="480"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source 
            media="(width <= 768px)" 
            srcset="./img/gallery-02-m.webp,
                    ./img/gallery-02-m-x2.webp x2" 
          />
          <img
            class="gallery__img"
            src="./img/gallery-02.webp"
            srcset="./img/gallery-02.webp,
                    ./img/gallery-02-x2.webp 2x,"
            alt="Second happy chicken in the game"
            width="353"
            height="220"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source 
            media="(width <= 768px)" 
            srcset="./img/gallery-03-m.webp,
                    ./img/gallery-03-m-x2.webp x2" 
          />
          <img
            class="gallery__img"
            src="./img/gallery-03.webp"
            srcset="./img/gallery-03.webp,
                    ./img/gallery-03-x2.webp 2x,"
            alt="Third happy chicken in the game"
            width="353"
            height="220"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery__item gallery__item--last">
        <picture>
          <source 
            media="(width <= 768px)" 
            srcset="./img/gallery-04-m.webp,
                    ./img/gallery-04-m-x2.webp x2" 
          />
          <img
            class="gallery__img"
            src="./img/gallery-04.webp"
            srcset="./img/gallery-04.webp,
                    ./img/gallery-04-x2.webp 2x,"
            alt="Fourth happy chicken in the game"
            width="353"
            height="220"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>