<section class="hero container wrapper" aria-labelledby="hero__title">
  <div class="hero__content">
    <h1 class="hero__title" id="hero__title">Sumérgete en la emoción de Chicken Road Spain!</h1>
    <p class="hero__description">El juego en línea que está conquistando a todos y revolucionando la red!</p>
  </div>
  <img 
    class="hero__img"
    src="./img/hero.webp" 
    srcset="./img/hero.webp x1, 
            ./img/hero-x2.webp x2"
    alt=""
    aria-labelledby="hero__title"
    width="620" 
    height="620"
  >
</section>