<section id="news" class="news container wrapper" aria-labelledby="news__title">
  <h2 class="section-title" id="news__title">Noticias</h2>
  <ul class="news__list">
    <li 
      class="news__item news-item" 
      aria-labelledby="news-item__title-01"
      aria-describedby="news-item__description-01"
    >
      <img 
        class="news-item__img"
        srcset="./img/news-01.webp , 
                ./img/news-01-x2.webp 2x"
        src="./img/news-01.webp" 
        alt="" 
        aria-labelledby="news-item__title-01"
        width="353" 
        height="356"
      >
      <h3 class="news-item__title" id="news-item__title-01">Nueva actualización disponible!</h3>
      <p class="news-item__description" id="news-item__description-01">Ya está aquí la última versión del juego con nuevos retos y un modo cooperativo para jugar con amigos.</p>
    </li>
    <li 
      class="news__item" 
      aria-labelledby="news-item__title-02"
      aria-describedby="news-item__description-02"
    >
      <img 
        class="news-item__img"
        srcset="./img/news-02.webp , 
                ./img/news-02-x2.webp 2x"
        src="./img/news-02.webp" 
        alt=""
        aria-labelledby="news-item__title-02"
        width="353" 
        height="356"
      >
      <h3 class="news-item__title" id="news-item__title-02">Evento especial virtual</h3>
      <p class="news-item__description" id="news-item__description-02">Participa en nuestro evento especial y gana recompensas exclusivas. No te lo pierdas!</p>
    </li>
    <li 
      class="news__item" 
      aria-labelledby="news-item__title-03"
      aria-describedby="news-item__description-03"
    >
      <img 
        class="news-item__img"
        srcset="./img/news-03.webp , 
                ./img/news-03-x2.webp 2x"
        src="./img/news-03.webp" 
        alt=""
        aria-labelledby="news-item__title-03"
        width="353" 
        height="356"
      >
      <h3 class="news-item__title" id="news-item__title-03">35 millones de descargas!</h3>
      <p class="news-item__description" id="news-item__description-03">Chicken Road Spain celebra 35 millones de descargas globales. Gracias por ser parte de esta increíble comunidad!</p>
    </li>
  </ul>
</section>