<section class="personages" aria-labelledby="personages__title">
  <div class="container wrapper">
    <h2 id="personages__title" class="section-title personages__title">Personajes</h2>
    <ul class="personages__list">
      <li class="personages__item personage">
        <img 
          class="personage__img"
          srcset="./img/personages-01.webp , 
                  ./img/personages-01-x2.webp 2x"
          src="./img/personages-01.webp" 
          alt="" 
          aria-labelledby="Lola"
          width="180" 
          height="180"
        >
        <h3 class="personage__title" id="Lola">Lola</h3>
        <p class="personage__description">Lola es la líder nata del grupo, siempre alerta y lista para tomar decisiones rápidas. Su instinto protector y mente táctica la hacen indispensable.</p>
        <ul class="personage__abilities" aria-label="Las habilidades de Lola">
          <li class="personage__ability">Visión estratégica</li>
          <li class="personage__ability">Carisma de líder</li>
          <li class="personage__ability">Intuición aguda</li>
        </ul>
      </li>
      <li class="personages__item personage">
        <img 
          class="personage__img"
          srcset="./img/personages-02.webp , 
                  ./img/personages-02-x2.webp 2x"
          src="./img/personages-02.webp" 
          alt="" 
          aria-labelledby="Max"
          width="180" 
          height="180"
        >
        <h3 class="personage__title" id="Max">Max</h3>
        <p class="personage__description">Ágil y veloz, Rita destaca por su capacidad de esquivar peligros y avanzar a toda velocidad por los niveles.</p>
        <ul class="personage__abilities" aria-label="Habilidades de Max">
          <li class="personage__ability">Rapidez</li>
          <li class="personage__ability">Agilidad</li>
          <li class="personage__ability">Saltos altos</li>
        </ul>
      </li>
      <li class="personages__item personage">
        <img 
          class="personage__img"
          srcset="./img/personages-03.webp , 
                  ./img/personages-03-x2.webp 2x"
          src="./img/personages-03.webp" 
          alt="" 
          aria-labelledby="Rita"
          width="180" 
          height="180"
        >
        <h3 class="personage__title" id="Rita">Rita</h3>
        <p class="personage__description">El gallo oscuro del equipo, Max domina habilidades especiales que se revelan cruciales en los momentos más difíciles.</p>
        <ul class="personage__abilities" aria-label="Las habilidades de Rita">
          <li class="personage__ability">Fuerza</li>
          <li class="personage__ability">Magia</li>
          <li class="personage__ability">Resistencia</li>
        </ul>
      </li>
    </ul>
  </div>
</section>