<section id="requirements" class="requirements container wrapper" aria-labelledby="requirements__title">
  <h2 id="requirements__title" class="section-title requirements__title">Requisitos técnicos</h2>
  <div class="requirements-column">
    <h3 class="requirements-column__title">Requisitos mínimos del sistema</h3>
    <ul class="requirements-column__list">
      <li class="requirements-column__item">Procesador: Intel Core i3-2130 / AMD FX 4300</li>
      <li class="requirements-column__item">Video Card: NVIDIA® GeForce™ GTX 640 / AMD Radeon™ HD 7750</li>
      <li class="requirements-column__item">RAM: 8 GB</li>
      <li class="requirements-column__item">Espacio de disco: 20 GB</li>
      <li class="requirements-column__item">Sistema operativo: Windows 10, macOS 10.15</li>
      <li class="requirements-column__item">DirectX: DirectX 11</li>
    </ul>
  </div>
  <div class="requirements-column">
    <h3 class="requirements-column__title">Requisitos recomendados del sistema</h3>
    <ul class="requirements-column__list">
      <li class="requirements-column__item">Procesador: Intel Core i5 / AMD FX 8150</li>
      <li class="requirements-column__item">Video: NVIDIA® GeForceTM GTX 1660 Ti / AMD RadeonTM RX 590</li>
      <li class="requirements-column__item">RAM: 16 GB</li>
      <li class="requirements-column__item">Espacio de disco: 80 GB</li>
      <li class="requirements-column__item">Sistema operativo: Windows 10, macOS 10.15</li>
      <li class="requirements-column__item">DirectX: DirectX 12</li>
    </ul>
  </div>
</section>